*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100% !important;
  display: block !important;
}
li {
  list-style: none;
}
.slick-active button {
  background-color: black !important;
  height: 6px !important;
}
.ant-menu-light {
  border: none !important;
}
.ant-checkbox-wrapper {
  border: 1px solid #e5e7eb;
  width: 100%;
  border-top: 0;
  padding: 0 0 0 8px;
}
.ant-checkbox-wrapper span:nth-child(2) {
  flex: 1;
  padding: 0 0 0 8px;
}
.ant-upload-list {
  display: flex !important;
  align-items: center !important;
  overflow: visible;
}
