*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
li {
  list-style: none;
}
.ant-badge-count {
  top: 10px !important;
}
.slick-active button {
  background-color: black !important;
  height: 6px !important;
}
